.DS_Store
*.pyc
*.pyo
__pycache__
env/
venv/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Visual Studio files
.vs/

# NuGet Packages
packages/
packages/*.nupkg
# Uncomment if you do not want to store the NuGet packages folder
# /packages/

# Others
*.log
*.tmp

# OpenCV library files
opencv/